@import "../abstracts/variables";
@import "../base/default";

.black-button{
  display: flex;
  padding: 10px 30px;
  align-items: center;
  gap: 10px;
  position: relative;
  border-radius: 50px;
  background: #252525;
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  min-width: 162px;
  height: 53px;

  &::after{
    content: url("../../img/svg/arrow-button.svg");
    position: absolute;
    top: 18px;
    right: 31px;
  }
}

.white-button{
  display: flex;
  padding: 15px 30px;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
  color: #252525;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 400;
}