@import "../abstracts/variables";

.what-i-do-block {
  width: 100%;
  max-width: 1900px;
  margin: 0 auto;
  border-bottom: solid 1px black;
  @media (min-width: $bp-lg) {
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 50%);
  }
}

.what-i-do-block__content {
  padding: 0 20px;
  @media (min-width: $bp-md) {
    padding: 0 30px;
  }
  @media (min-width: $bp-lg) {
    padding: 70px 80px;
  }
}

.img-background{
  width: 100%;
  max-height: 478px;

  @media (min-width: $bp-md) {
    max-height: 991px;
  }
  @media (min-width: $bp-lg) {
    height: 100%;
    object-fit: cover;
    max-height: 100000px;
  }
}

.what-i-do-block__content-text{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-bottom: solid 1px #252525;
}

.what-i-do-block__content-headline {
  color: #252525;
  text-align: center;
  font-family: Gilroy;
  font-size: 73px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 20px 0 40px 0;
  @media (min-width: $bp-md) {
    font-size: 130px;
    margin: 40px 0;
  }
}

.digital {
  color: #000;
  font-family: Gilroy;
  font-size: 42px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  &::before{
    content: "01 ";
    color: #000;
    font-family: Gilroy;
    font-size: 44px;
    font-weight: 200;
    line-height: 28px;
  }
  @media (min-width: $bp-md) {
    font-size: 44px;
  }
}
.direction{
  @include for-headlines;
  margin-top: 30px;
  &::before{
    content: "02 ";
    @include for-before
  }
  @media (min-width: $bp-md) {
    font-size: 44px;
  }
}

.design{
  @include for-headlines;
  margin-top: 30px;
  &::before{
    content: "03 ";
    @include for-before
  }
  @media (min-width: $bp-md) {
    font-size: 44px;
  }
}
.motion{
  @include for-headlines;
  margin-top: 30px;
  &::before{
    content: "04 ";
    @include for-before
  }
  @media (min-width: $bp-md) {
    font-size: 44px;
  }
}

.what-i-do-block__paragraph {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 30px;
}
.border-none{
  border: none;
}